
@{
    ViewData["Title"] = "Classmates";
}

<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">Centriq</h1>
            <p class="lead fw-normal text-muted mb-0">This page is dedicated to my classmates in Centriq Training</p>
        </div>
        <div class="container">
            <div class="row text-center">
                <h3 class="p4">My Classmates</h3>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="card m-3" style="width: 18rem">
                    <div class="card-body text-center">
                        <img src="/assets/images/Storm.jpg" class="classImg" alt="">
                        <h5 class="card-title text-center p-2">Storm Agnew</h5>
                        <a href="http://stormycoding.com/" class="card-link" target="_blank">Website</a>
                        <a href="#" class="card-link">LinkedIn</a>
                    </div>
                </div>
                <div class="card m-3" style="width: 18rem">
                    <div class="card-body text-center">
                        <img src="/assets/images/Zach.jpg" class="classImg" alt="">
                        <h5 class="card-title text-center p-2">Zach Barkoviak</h5>
                        <a href="http://zachbarkoviak.com/" class="card-link" target="_blank">Website</a>
                        <a href="https://www.linkedin.com/in/zachary-barkoviak-21b2b8249/" class="card-link" target="_blank">LinkedIn</a>
                    </div>
                </div>
                <div class="card m-3" style="width: 18rem">
                    <div class="card-body text-center">
                        <img src="/assets/images/Casey.jpg" class="classImg" alt="">
                        <h5 class="card-title text-center p-2">Casey Brown</h5>
                        <a href="http://somethingcachey.com/" class="card-link" target="_blank">Website</a>
                        <a href="http://linkedin.com/in/CaseyBrownWD" class="card-link" target="_blank">LinkedIn</a>
                    </div>
                </div>
                <div class="card m-3" style="width: 18rem">
                    <div class="card-body text-center">
                        <img src="/assets/images/Kurtis.jpeg" class="classImg" alt="">
                        <h5 class="card-title text-center p-2">Kurtis Caldwell</h5>
                        <a href="http://kurtiscaldwell.com/" class="card-link" target="_blank">Website</a>
                        <a href="#" class="card-link" target="_blank">LinkedIn</a>
                    </div>
                </div>
                <div class="card m-3" style="width: 18rem">
                    <div class="card-body text-center">
                        <img src="/assets/images/Brittany.jpg" class="classImg card-img" alt="">
                        <h5 class="card-title text-center p-2">Brittany Dodd</h5>
                        <a href="http://brittanydodd.net/" class="card-link" target="_blank">Website</a>
                        <a href="https://www.linkedin.com/in/brittany-dodd-230467249/" class="card-link" target="_blank">LinkedIn</a>
                    </div>
                </div>
                <div class="card m-3" style="width: 18rem">
                    <div class="card-body text-center">
                        <img src="/assets/images/Matt.jpg" class="classImg card-img" alt="">
                        <h5 class="card-title text-center p-2">Matt Jennings</h5>
                        <a href="#" class="card-link" target="_blank">Website</a>
                        <a href="#" class="card-link" target="_blank">LinkedIn</a>
                    </div>
                </div>
                <div class="card m-3" style="width: 18rem">
                    <div class="card-body text-center">
                        <img src="/assets/images/MissingHeadshot.jpg" class="classImg card-img" alt="">
                        <h5 class="card-title text-center p-2">Devin Kuhlman</h5>
                        <a href="#" class="card-link" target="_blank">Website</a>
                        <a href="#" class="card-link" target="_blank">LinkedIn</a>
                    </div>
                </div>
                <div class="card m-3" style="width: 18rem">
                    <div class="card-body text-center">
                        <img src="/assets/images/tanner.JPG" class="classImg card-img" alt="Tanner">
                        <h5 class="card-title text-center p-2">Tanner Lampson</h5>
                        <a href="tannermatthew.dev" class="card-link" target="_blank">Website</a>
                        <a href="http://www.linkedin.com/in/tanner-lampson-0422b7249" class="card-link" target="_blank">LinkedIn</a>
                    </div>
                </div>
                <div class="card m-3" style="width: 18rem">
                    <div class="card-body text-center">
                        <img src="/assets/images/MissingHeadshot.jpg" class="classImg card-img" alt="">
                        <h5 class="card-title text-center p-2">Juno Lewis</h5>
                        <a href="#" class="card-link" target="_blank">Website</a>
                        <a href="#" class="card-link" target="_blank">LinkedIn</a>
                    </div>
                </div>
                <div class="card m-3" style="width: 18rem">
                    <div class="card-body text-center">
                        <img src="/assets/images/MissingHeadshot.jpg" class="classImg card-img" alt="">
                        <h5 class="card-title text-center p-2">Jacquelyn Little</h5>
                        <a href="#" class="card-link" target="_blank">Website</a>
                        <a href="#" class="card-link" target="_blank">LinkedIn</a>
                    </div>
                </div>
                <div class="card m-3" style="width: 18rem">
                    <div class="card-body text-center">
                        <img src="/assets/images/MissingHeadshot.jpg" class="classImg card-img" alt="">
                        <h5 class="card-title text-center p-2">Dawson Meier</h5>
                        <a href="#" class="card-link" target="_blank">Website</a>
                        <a href="#" class="card-link" target="_blank">LinkedIn</a>
                    </div>
                </div>
                <div class="card m-3" style="width: 18rem">
                    <div class="card-body text-center">
                        <img src="/assets/images/MissingHeadshot.jpg" class="classImg card-img" alt="">
                        <h5 class="card-title text-center p-2">Dylan Poole</h5>
                        <a href="#" class="card-link" target="_blank">Website</a>
                        <a href="#" class="card-link" target="_blank">LinkedIn</a>
                    </div>
                </div>
                <div class="card m-3" style="width: 18rem">
                    <div class="card-body text-center">
                        <img src="/assets/images/paige.jpg" class="classImg" alt="">
                        <h5 class="card-title text-center p-2">Paige Scott</h5>
                        <a href="http://readypaigeone.com" class="card-link" target="_blank">Website</a>
                        <a href="https://www.linkedin.com/in/think-paige-scott" class="card-link" target="_blank">LinkedIn</a>
                    </div>
                </div>
                <div class="card m-3" style="width: 18rem">
                    <div class="card-body text-center">
                        <img src="/assets/images/John.jpg" class="classImg" alt="">
                        <h5 class="card-title text-center p-2">John Walls</h5>
                        <a href="http://jpwalls.com/" class="card-link" target="_blank">Website</a>
                        <a href="https://www.linkedin.com/in/john-w-0151b31b3" class="card-link" target="_blank">LinkedIn</a>
                    </div>
                </div>
                <div class="card m-3" style="width: 18rem">
                    <div class="card-body text-center">
                        <img src="/assets/images/Sean.jpg " class="classImg card-img" alt="">
                        <h5 class="card-title text-center p-2">ME!</h5>
                        <a href="http://www.seancoyan.com" class="card-link" target="_blank">Website</a>
                        <a href="https://www.linkedin.com/in/seancoyan/" class="card-link" target="_blank">LinkedIn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>