
@{
    ViewData["Title"] = "Portfolio";
}

<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">My Projects (coming soon)</h1>
            <p class="lead fw-normal text-muted mb-0"></p>
        </div>
        <div class="row gx-5">
            <div class="col-lg-6">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="/assets/images/medievalScreenshot.png" alt="..." href="https://github.com/SeanCodes2/MedievalAdventure"  />
                    <a class="h3 fw-bolder text-decoration-none link-light stretched-link" href="https://github.com/SeanCodes2/MedievalAdventure" target="_blank">
                        Dungeon App
                        <p class="h5">I went with a medieval themed dungeon crawler app. Utilizing C# custom classes and methods I was able to produce a simulated town that users could travel from place to place in. The various "rooms" held different foes to try to conquer and earn gold from allowing the player to upgrade their character and move to harder encounters until finally beating the Orc Lord to win the game.</p>
                        <p class="h5"> I learned a lot about C# and the object oriented programming methods that it provides.</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                    <a class="h3 fw-bolder text-decoration-none link-light stretched-link" href="#!">
                        Storefront
                        <p class="h5">Description of project and what I learned from it.</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative mb-5 mb-lg-0">
                    <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                    <a class="h3 fw-bolder text-decoration-none link-light stretched-link" href="#!">
                        ToDo API
                        <p class="h5">Description of project and what I learned from it.</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                    <a class="h3 fw-bolder text-decoration-none link-light stretched-link" href="#!">
                        React ToDo
                        <p class="h5">Description of project and what I learned from it.</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                    <a class="h3 fw-bolder text-decoration-none link-light stretched-link" href="#!">
                        SAT
                        <p class="h5">Description of project and what I learned from it.</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                    <a class="h3 fw-bolder text-decoration-none link-light stretched-link" href="#!">
                        Website
                        <p class="h5">Description of project and what I learned from it.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
