
@{
    ViewData["Title"] = "Resume";
}

<!-- Download Resume -->
<header class="py-5 bg-dark">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3 text-light">Education and Qualifications</h1>
                    <br />
                    <br />
                    <h4>Download Complete Resume</h4>
                    <p class="lead fw-normal text-muted mb-4"></p>
                    <a class="btn btn-primary " href="/assets/Sean Coyan - IT Resume.docx"><i class="bi bi-filetype-pdf" style="font-size: 2em"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Qualifications-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5 text-center">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-6">
                <h2 class="fw-bolder text-dark">Summary of Qualifications:</h2>
                @*<p class="lead fw-normal text-dark mb-0">Here I will list out all of the qualifications I have to work in the development field</p>*@
                <br />
             @*   <ul class="list-group">
                    <li class="list-group-item">Experienced In: </li>
                    <li class="list-group-item list-group-item-light">.NET Core MVC Framework</li>
                    <li class="list-group-item list-group-item-dark">Full Stack Web Application Design</li>
                    <li class="list-group-item list-group-item-light">C# Fundamentals</li>
                    <li class="list-group-item list-group-item-dark">JavaScript</li>
                    <li class="list-group-item list-group-item-light">Database Management</li>
                    <li class="list-group-item list-group-item-dark">Unit Testing</li>
                    <li class="list-group-item list-group-item-light">Software Development Lifecycle</li>
                    <li class="list-group-item list-group-item-dark">Agile Scrum Methodology</li>
                </ul>   *@    
                <h4 class="text-dark"><strong>Front End:</strong></h4>
                <h5 class ="text-dark">HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Dev, Bootstrap, ReactJS</h5>
                 
                <h4 class="text-dark"><strong>Middle Tier:</strong></h4>
                <h5 class="text-dark">C#, .NET Core MVC, LINQ, EF, Razor Pages</h5>
                
                <h4 class="text-dark"><strong>Back End:</strong></h4>
                <h5 class="text-dark">ADO.NET, SQL, SQL Server</h5>

                <h4 class="text-dark"><strong>Tools:</strong></h4>
                <h5 class ="text-dark">Azure Data Studio, Visual Studio, Visual Studio Code, SSMS, Git Bash</h5>

                <h4 class="text-dark"><strong>Profession Skills:</strong></h4c>
                <h5 class ="text-dark">Troubleshooting, Critical Thinking, Communication, Project Management Fundamentals, Teamwork, Pair Programming</h5>
            </div>
        </div>
    </div>
</section>
<!-- Education-->
<section class="py-5">
    <div class="container px-5 my-5 text-center">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-6">
                <h2 class="fw-bolder">Education:</h2>
                <h3 class="lead fw-normal mb-0 text-start">Full Stack Coding Program, Centriq Training</h3>
                <div class="row text-start">
                    <div class="col-8">
                        
                        <h4>Core Compentencies:</h4>
                        <ul>
                            <li>.NET Core MVC Framework</li>
                            <li>Troubleshooting & Debugging</li>
                            <li>Source Control</li>
                            <li>Agile/Scrum (Team Projects)</li>
                            <li>Website Development</li>
                            <li>Pair Programming</li>
                            <li>Code Review</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="py-5 bg-light">
    <div class="container px-5 my-5 text-center">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-6">
                <h2 class="fw-bolder text-dark">Work History:</h2>
                <p class="lead fw-normal text-dark mb-0">Here I will put all my previous work history and how it is relevant to my developer profession now.</p>
            </div>
        </div>
    </div>
</section>            *@