

section#features img {
    height: 80px;
    border-radius: 25px;
}

.classImg {
    height: auto;
    width: 100%;
    overflow:hidden;
}


.card-link {
    text-decoration: none;
}

.fancy-4 {
    background:
      repeating-linear-gradient(rgb(79, 124, 247) 0 8px, transparent 0 16px) left /var(--d, 0) 100% no-repeat,
      repeating-linear-gradient(transparent 0 8px, rgb(22, 39, 44) 0 16px) right/var(--d, 0) 100% no-repeat;
    transition: 0.5s;
  }
  .fancy-4:hover {
    --d: 100%;
    color: #fff
  }
  
  .double-4 {
    background:
      linear-gradient(currentColor 0 0) 0 100% /var(--d, 0) 3px no-repeat,
      linear-gradient(currentColor 0 0) 100% calc(100% - 6px) /var(--d, 0) 3px no-repeat;
    transition: 0s 0.5s, background-size 0.5s;
  }
  
  .double-4:hover {
    --d: 100%;
    background-position: 0% calc(100% - 3px), 100% calc(100% - 3px);
    transition: 0.3s, background-position 0.3s 0.3s;
  }


  /*BackToTopButton*/

#button {
    display: inline-block;
    background-color: #375a7f;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    text-decoration: none;
}

    #button::after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 2em;
        line-height: 50px;
        color: #fff;
    }

    #button:hover {
        cursor: pointer;
        background-color: #333;
    }

    #button:active {
        background-color: #555;
    }

    #button.show {
        opacity: 1;
        visibility: visible;
    }

/* Styles for the content section */

.content {
    width: 77%;
    margin: 50px auto;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
}

@media (min-width: 500px) {
    .content {
        width: 43%;
    }

    #button {
        margin: 30px;
    }
}

.content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
}

.content h3 {
    font-style: italic;
    color: #96a2a7;
}